@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto&display=swap');
$color1: #13293dff;
$color2: #006494ff;
$color3: #247ba0ff;
$color4: #1b98e0ff;
$color5: #e8f1f2ff;
$heading:  'Merriweather', serif;
$text: 'Roboto', sans-serif;